<!-- Featured -->
<section class="featured">
	<h1 class="title">Uitgelichte verdiepingsdossiers</h1>
	<div class="article__wrapper">
		{% for article in featuredArticles %}
			{% set image = article.articleThumbnail.one() %}

			{% include "_includes/components/dossier" %}
		{% endfor %}
	</div>
</section>
