{% extends "_layouts/public" %}

{% block content %}

	<section class="error__wrapper">
		<h1 class="title">Het lijkt erop dat je verdwaald bent..</h1>
		<p class="subtitle">De pagina die je zoekt bestaat namelijk niet (meer).</p>
		<div class="error__action">
			<a class="button button--secondary" href=" {{siteUrl}} ">Ga terug naar de homepage</a>
		</div>
		<img class="error__image" src="{{siteUrl}}assets/resources/images/404.svg"/>
	</section>
</div>{% endblock %}
