{% extends "_layouts/public" %}

{% block content %}

	<section class="error__wrapper">
		<h1 class="title">Het lijkt erop dat je verdwaald bent..</h1>
		<p class="subtitle">{{message}}</p>
		<img class="error__image" src="{{siteUrl}}assets/resources/images/404.svg"/>
	</section>
</div>{% endblock %}
