{% extends "_layouts/site" %}

{% block content %}
	<div
		class="wrapper">

		<!-- Carousel -->
		<section>
			<h1 class="title">Thema's</h1>

			{% include "_includes/components/carousel" %}

		</section>

		{% include "_includes/components/featured-dossiers" with {"featuredArticles": entry.featuredArticles} %}

		{% include "_includes/components/featured-escaperooms" with {"featuredEscaperooms": entry.featuredEscaperooms} %}

	</div>

	{% include "_includes/components/banner" %}

{% endblock %}
