{% extends "_layouts/public" %}

{% block content %}

	{% include "_includes/components/hero" %}

	{% include "_includes/components/features" %}
</div>

{% include "_includes/components/banner" %}{% endblock %}
