{% extends "_layouts/base" %}

{% block body %}

	<div class="wrapper">

		{% include "_includes/components/header" %}
	</div>

	{% include "_includes/components/flashmessage" %}

	{% block content %}{% endblock %}

	<!-- Footer -->
	<footer>
		<p>{{ footer.disclaimer |raw }}</p>
	</footer>
{% endblock %}
