{% extends "_layouts/page" %}

{% block content %}

	{% set articles = craft.entries({section : 'dossiers'})
        .relatedTo(category)
		.level(1)
        .all()
	%}
	{% set escaperooms = craft.entries({section: 'escaperooms'})
		.relatedTo(category)
		.all()
	%}


	<div class="wrapper">
		<div class="mb-10">
			<div class="mb-2">
				<h1 class=" title">{{category.title}}</h1>
			</div>

			{% if escaperooms or articles %}
				{% if articles %}
					<h2 class="subtitle">Verdiepingsdossiers</h2>
					<div class="escaperoom__wrapper">
						{% for article in articles %}
							{% set image = article.articleThumbnail.one() %}

							{% include "_includes/components/dossier" %}
						{% endfor %}
					</div>
				{% endif %}

				{% if escaperooms %}
					<h2 class="subtitle">Edu escaprooms</h2>
					<div class="escaperoom__wrapper">
						{% for escaperoom in escaperooms %}
							{% include "_includes/components/escaperoom" %}
						{% endfor %}
					</div>
				{% endif %}
			{% else %}
				<div class="flex flex--center">
					<div class="state--empty">
						<img src="{{siteUrl}}assets/resources/images/nothing-found.svg">
						<h3>Het is hier leeg</h3>
						<p>Je hebt nog geen verdiepingsdossiers. Klik op het plus icoon om er één aan te maken.
						</p>
					</div>
				</div>
				<div class="mb-10"></div>
			{% endif %}
		</div>
	</div>
{% endblock %}
